.h1 {
  color: #7b1fa2;
  text-align: center;
  text-decoration: overline;
  font-size: 50pt;
  font-style: italic;
  color: white;
  font-family: monospace;
  font-size:
}

.body {
  background-image: url("https://66.media.tumblr.com/a249af16ec498709c6ea63274b43029b/tumblr_nu9kn7zKNS1s3n568o1_1280.gif");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  text-align: center;
  text-indent: inherit;
  page-break-inside: block;
}
