h1 {
  color: ;
  text-align: center;
  text-decoration: underline;
  text-decoration-style: wavy;
  padding: 40px
}

body {
  background-color: violet;
  background-attachment: fixed;
  text-align: center;
  text-indent: inherit;
  page-break-inside: block;
  padding: 50px
}

.guccifer {
  padding: 50px;
}
