h1 {
  color: purple;
  text-align: ;
}

body {
  background-color: violet;
  background-attachment: fixed;
  text-align: center;
  text-indent: inherit;
  page-break-inside: block;
}

h1 {
  text-decoration: line-through;
}

h1 {
  font-style: italic;
}

h2 {
  padding: 50px
}

h3 {
  font-size: 70px
}

h1 {
  color: blue;
  font-family: monospace;
  font-size:
